<div class="ui container">

    <h1 class="ui header">Freelance simulator</h1>

    <form class="ui form" novalidate
          [formGroup]="simulatorForm" (change)="simulate(simulatorForm.value)">

        <h3 class="ui dividing header">Chiffre d'affaire</h3>
        <div class="fields">
            <div class="field">
                <label>TJM</label>
                <input type="number" min="0" step="10" formControlName="dailyRevenue"/>
            </div>
            <div class="field">
                <label>Jours / mois</label>
                <input type="number" min="0" step="1" formControlName="daysPerMonth">
            </div>
        </div>
        <div class="fields">
            <div class="field">
                <label>Autre CA mensuel</label>
                <input type="number" min="0" step="100" formControlName="otherMonthlyRevenue">
            </div>
            <div class="field">
                <label>Autre CA annuel</label>
                <input type="number" min="0" step="100" formControlName="otherAnnualRevenue">
            </div>
        </div>
        <div>
            Jours travaillés annuellement : {{daysPerMonth * 12}}<br/>
            Chiffre d'affaires brut : {{totalAnnualRevenue}} €<br/>
            <!--TVA perçue : {{totalAnnualInVAT}} €-->
        </div>

        <h3 class="ui dividing header">Dépenses</h3>
        <div class="fields">
            <div class="field">
                <label>Frais mensuels</label>
                <input type="number" min="0" step="10" formControlName="monthlyFees"/>
            </div>
            <div class="field">
                <label>Frais annuels</label>
                <input type="number" min="0" step="100" formControlName="annualFees"/>
            </div>
        </div>
        <div>
            Dépenses brutes : {{totalAnnualFees}} €<br/>
            <!--TVA dépensée : {{totalAnnualOutVAT}} €-->
        </div>

        <h3 class="ui dividing header">Rémunération</h3>
        <div class="fields">
            <div class="field">
                <label>Salaire brut mensuel</label>
                <input type="number" min="0" step="100" formControlName="monthlyGrossSalary"/>
            </div>
            <div class="field">
                <label>Primes annuelles</label>
                <input type="number" min="0" step="100" formControlName="annualBonus"/>
            </div>
        </div>
        <div>
            Salaire brut annuel : {{annualGrossSalary}} €<br/>
            Cotisations patronales (42%) : {{employerSalaryTax}} €<br/>
            Cotisations salariales (22%) : {{employeeSalaryTax}} €<br/>
            Salaire net annuel : {{netSalary}} €
        </div>

        <h3 class="ui dividing header">Bénéfices</h3>
        <div class="fields">
            <div class="field">
                <label>Dividendes (%)</label>
                <input type="number" min="0" max="100" step="1" formControlName="dividendsPercentage"/>
            </div>
        </div>
        <div>
            Bénéfice brut : {{grossProfit}} €<br/>
            Impôt sur les Sociétés (IS) : {{profitTax}} €<br/>
            Bénéfice net : {{netProfit}} €<br/>
            <br/>
            Réserve légale : {{legalReserve}} € <br/>
            Investissement : {{investment}} € <br/>
            Dividendes distribuables : {{grossDividends}} € <br/>
            Dividendes distribués : {{paidDividends}} € <br/>
            Prélévements sociaux sur les dividendes (15.5%): {{dividendsTax}} € <br/>
            Dividendes nets : {{netDividends}} € <br/>
        </div>

        <h3 class="ui dividing header">Récapitulatif</h3>
        <div>
            CA : {{totalAnnualRevenue}} €<br/>
            Dépenses : {{totalAnnualFees}} €<br/>
            Revenu freelance (net avant IRPP): {{totalFreelanceShare}} € (~ {{totalFreelanceShare / 12 | number : '1.0-0'}} €/mois)<br/>
            Revenu société : {{totalCompanyShare}} €<br/>
            Revenu Etat : {{totalStateShare}} € ({{stateSharePercentage}}% du CA)<br/>
        </div>

    </form>

    <div id="sankey_basic"></div>

</div>

