<div class="ui container">

    <h1 class="ui header">Freelance simulator</h1>

    <form class="ui form" novalidate
          [formGroup]="simulatorForm">

        <h3 class="ui dividing header">Chiffre d'affaire</h3>
        <div class="fields">
            <div class="field">
                <label>TJM</label>
                <input type="number" min="0" step="10" formControlName="dailyRevenue"/>
            </div>
            <div class="field">
                <label>Jours / mois</label>
                <input type="number" min="0" step="1" formControlName="daysPerMonth">
            </div>
        </div>
        <div class="fields">
            <div class="field">
                <label>Autre CA mensuel</label>
                <input type="number" min="0" step="100" formControlName="otherMonthlyRevenue">
            </div>
            <div class="field">
                <label>Autre CA annuel</label>
                <input type="number" min="0" step="100" formControlName="otherAnnualRevenue">
            </div>
        </div>
        <div>
            Jours travaillés annuellement : {{model.daysPerMonth * 12}}<br/>
            Chiffre d'affaires brut : {{model.totalAnnualRevenue}} €<br/>
        </div>

        <h3 class="ui dividing header">Dépenses</h3>
        <div class="fields">
            <div class="field">
                <label>Frais mensuels</label>
                <input type="number" min="0" step="10" formControlName="monthlyFees"/>
            </div>
            <div class="field">
                <label>Frais annuels</label>
                <input type="number" min="0" step="100" formControlName="annualFees"/>
            </div>
        </div>
        <div>
            Dépenses brutes : {{model.totalAnnualFees}} €<br/>
        </div>

        <h3 class="ui dividing header">Rémunération</h3>
        <div class="fields">
            <div class="field">
                <label>Salaire brut mensuel</label>
                <input type="number" min="0" step="100" formControlName="monthlyGrossSalary"/>
            </div>
            <div class="field">
                <label>Primes annuelles</label>
                <input type="number" min="0" step="100" formControlName="annualBonus"/>
            </div>
        </div>
        <div>
            Salaire brut annuel : {{model.totalAnnualGrossSalary}} €<br/>
            Cotisations patronales (42%) : {{model.employerSalaryTax}} €<br/>
            Cotisations salariales (22%) : {{model.employeeSalaryTax}} €<br/>
            Salaire net annuel : {{model.annualNetSalary}} €
        </div>

        <h3 class="ui dividing header">Bénéfices</h3>
        <div class="fields">
            <div class="field">
                <label>Dividendes (%)</label>
                <input type="number" min="0" max="100" step="1" formControlName="dividendsPercentage"/>
            </div>
        </div>
        <div>
            Bénéfice brut : {{model.grossProfit}} €<br/>
            Impôt sur les Sociétés (IS) : {{model.profitTax}} €<br/>
            Bénéfice net : {{model.netProfit}} €<br/>
            <br/>
            Investissement : {{model.investment}} € <br/>
            Dividendes bruts : {{model.grossDividends}} € <br/>
            Prélévements sociaux sur les dividendes (15.5%): {{model.dividendsTax}} € <br/>
            Dividendes nets : {{model.netDividends}} € <br/>
        </div>

        <h3 class="ui dividing header">Récapitulatif</h3>
        <div>
            CA : {{model.totalAnnualRevenue}} €<br/>
            Dépenses : {{model.totalAnnualFees}} €<br/>
            Revenu freelance (net avant IRPP): {{model.totalFreelanceShare}} €<br/>
            Revenu société : {{model.totalCompanyShare}} €<br/>
            Revenu Etat : {{model.totalStateShare}} €<br/>
        </div>

    </form>

    <app-graph-sankey *ngIf="model" [model]="model" class="ui fluid container"></app-graph-sankey>

    <pre>{{model|json}}</pre>

</div>

